body {
  font-family: "montserrat", sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #000000; 
}

#main-landing {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.634) 50%,
      rgba(0, 0, 0, 0.6) 55%
    ),
    url("../assets/img/bce00fab9830045519d85b41ed8b60d2.jpeg");
  background-size: cover;
  height: 70vh;
  align-content: center;
}
#main-landing2 {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.634) 50%,
      rgba(0, 0, 0, 0.6) 55%
    ),
    url("../assets/img/mision.jpeg");
  background-size: cover;
  height: 70vh;
  align-content: center;
}
#main-landing3 {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.634) 50%,
      rgba(0, 0, 0, 0.6) 55%
    ),
    url("../assets/img/vision.jpeg");
  background-size: cover;
  background-position: center
  ;
  height: 70vh;
  align-content: center;
}
#main-landing4 {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.634) 50%,
      rgba(0, 0, 0, 0.6) 55%
    ),
    url("../assets/img/1892648-3510993.jpg");
  background-size: cover;
  background-position: center 70%; /* Ajusta la posición vertical al 60% */
  height: 70vh;
  align-content: center;
}


section {
  padding: 0;
}

.responsive-img {
  width: 8vw;
  height: auto;
  max-width: 200px;
}


@media (max-width: 768px) {
  .responsive-img {
    width: 30vw;
    max-width: 150px;
  }
}

@media (max-width: 576px) {
  .responsive-img {
    width: 40vw;
    max-width: 120px;
  }
}

.bg-section {
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url(../assets/img/b6a7d6c1e69e3acbcbc87fafecfc4629.jpeg);
  background-position: center;
  background-size: cover;
}

.text {
  color: #f5f5f5;
}
