/* Estilos Generales de tu Landing Page */
body {
  font-family: "montserrat", sans-serif; /* Fuente usada en tu landing page */
  background-color: #f5f5f5; /* Color de fondo de tu landing */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evitar scroll horizontal */
  color: #000000; /* Color de texto principal */
}

#main-landing {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.634) 50%,
      rgba(0, 0, 0, 0.6) 55%
    ),
    url("../assets/img/bce00fab9830045519d85b41ed8b60d2.jpeg");
  background-size: cover;
  height: 70vh;
  align-content: center;
}
section {
  padding: 0;
}