body {
  margin: 0;
  padding: 0;
  background-color: rgb(252, 252, 252) !important;
  font-family: "montserrat", sans-serif;
  overflow-x: hidden;
}

.custom-section-1 {
  background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.35) 50%,
      rgba(0, 0, 0, 0.45) 55%,
      rgba(0, 0, 0, 0.55) 75%
    ),
    url("../assets/img/856d0de1fc1d8d6794b2004354288aa6.jpg");
  background-size: cover;
  background-position: center;
  padding: 60px 20px;
  color: #fff;
}

@media (min-width: 1024px) {
  .custom-section-1 {
    height: 75vh;
  }
}

.lantitle {
  font-family: "montserrat", sans-serif;
  font-weight: bold;
}
.subedits {
  color: #ffc200;
  font-family: "montserrat", sans-serif;
  font-size: 2rem;
  padding: 10px;
  position: relative; 
  font-weight: bold;
  display: inline-block;
  z-index: 1;
}

.subedits::before {
  content: "";
  position: absolute; 
  top: 50%;
  left: 0; 
  transform: translateY(-50%) skew(-20deg);
  width: 100%;
  height: 60%;
  background: linear-gradient(
    #ffc4008f,
    #ffc4002d
  ); 
  border-radius: 0px;
  padding: 0 10px; 
}

.rounds {
  border-radius: 3rem !important;
}
.text-responsive {
  text-align: center;
}

/* Alineación del texto a la izquierda en pantallas medianas y grandes */
@media (min-width: 768px) {
  .text-responsive {
    text-align: start;
  }
}

.solucion1 {
  background-color: #000000;
}
.solucion2 {
  background-color: #ffd03c;
}

.carousel-control-prev,
.carousel-control-next {
  width: 3rem; 
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 50%; 
  color: white; 
  font-size: 1.5rem; 
  z-index: 10; 
  border: none;
}

.carousel-control-prev {
  left: 0; 
}

.carousel-control-next {
  right: 0; 
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.8); 
}

.carousel-control-prev:focus,
.carousel-control-next:focus {
  outline: none; 
}

.overlay-carousel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}


@media (max-width: 576px) {
  .overlay-carousel {
    width: 320px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .overlay-carousel {
    width: 400px; 
  }
}


@media (min-width: 769px) and (max-width: 992px) {
  .overlay-carousel {
    width: 400px; 
  }
}

@media (min-width: 993px) {
  .overlay-carousel {
    width: 400px;
  }
}

.carousel-control-prev,
.carousel-control-next {
  top: 50%;
  transform: translateY(-50%);

}

/* Asegura que las imágenes en el carrusel se ajusten correctamente */
.carousel-item img {
  width: 100%;
  height: auto;
}
.top-50 {
  top: 46% !important;
}

.overlay-carousel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; 
}

.zoomable {
  transition: transform 0.5s ease, transform-origin 0.5s ease;
  cursor: zoom-in;
}

/* Posición centrada de los botones del carrusel */
.carousel-control-prev,
.carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
}

/* Asegura que las imágenes en el carrusel se ajusten correctamente */
.carousel-item img {
  width: 100%;
  height: auto; /* Mantiene la proporción de la imagen */
}

/* Fondo de la sección de planes */
.plans-section {
  background: linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0.6)
    ),
    url(../assets/img/b6a7d6c1e69e3acbcbc87fafecfc4629.jpeg);
  background-size: cover;
  background-position: center;
}
/* Estilo de las tarjetas de planes */
.plan-card {
  background-color: #292929b0;
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.plan-card:hover {
  transform: scale(1.05); 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

.plan-card h4, .plan-card h5, .plan-card ul {
  color: #fff;
}

.plan-card .card-footer {
  background-color: transparent;
  border-top: none;
}


.plan-card .btn-warning {
  color: #fff;
  box-shadow: 0 4px 10px rgba(255, 193, 7, 0.3);
  transition: transform 0.2s ease;
}

.plan-card .btn-warning:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 14px rgba(255, 193, 7, 0.5);
}

.accordion-button {
  border: 1px solid #ffd03c; 
  color: #000000;
  background-color: #fff; 
  transition: background-color 0.2s ease, color 0.2s ease;
}

.accordion-button:not(.collapsed) {
  color: #000000;
  background-color: #ffd03c; 
}

.accordion-button:focus {
  box-shadow: none; 
  border: #000000;
}

.accordion-button:hover {
  background-color: #e0a800;
  color: #000000;
}

section{
  padding: 0px;
}