body {
  margin: 0;
  padding: 0;
  background-color: rgb(252, 252, 252);
  font-family: "montserrat", sans-serif;
  overflow-x: hidden;
}

.custom-section-1 {
  background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.35) 50%,
      rgba(0, 0, 0, 0.45) 55%,
      rgba(0, 0, 0, 0.55) 75%
    ),
    url("../assets/img/856d0de1fc1d8d6794b2004354288aa6.jpg");
  background-size: cover;
  background-position: center;
  padding: 60px 20px;
  color: #fff;
}

/* Media query para versiones de escritorio */
@media (min-width: 1024px) {
  .custom-section-1 {
    height: 75vh; /* Ajusta la altura solo para pantallas de escritorio */
  }
}

.lantitle {
  font-family: "montserrat", sans-serif;
  font-weight: bold;
}
.subedits {
  color: #ffc200;
  font-family: "montserrat", sans-serif;
  font-size: 2rem;
  padding: 10px;
  position: relative; /* Necesario para que el ::before se posicione relativo a este elemento */
  font-weight: bold; /* Texto en negrita */
  display: inline-block; /* Permite que el ancho del ::before se ajuste al contenido */
  z-index: 1; /* Coloca el texto sobre el fondo */
}

.subedits::before {
  content: ""; /* Pseudo-elemento vacío */
  position: absolute; /* Posicionamiento absoluto dentro del contenedor */
  top: 50%; /* Alineación vertical */
  left: 0; /* Alineación horizontal */
  transform: translateY(-50%) skew(-20deg); /* Centra el fondo verticalmente */
  width: 100%; /* Ancho completo del contenedor de texto */
  height: 60%; /* Altura ajustable según el efecto deseado */
  background: linear-gradient(
    #ffc4008f,
    #ffc4002d
  ); /* Fondo negro semitransparente */
  border-radius: 0px; /* Borde redondeado */ /* Asegura que el fondo esté detrás del texto */
  padding: 0 10px; /* Añade un pequeño margen alrededor del texto */
}


.rounds {
  border-radius: 3rem !important;
}
.text-responsive {
  text-align: center;
}

/* Alineación del texto a la izquierda en pantallas medianas y grandes */
@media (min-width: 768px) {
  .text-responsive {
    text-align: start;
  }
}

.solucion1{
  background-color: #000000;
}
.solucion2{
  background-color: #ffd03c;
}

.carousel-control-prev, .carousel-control-next {
  width: 3rem; /* Ancho del botón */
  height: 3rem; /* Altura del botón */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  border-radius: 50%; /* Hacer los botones circulares */
  color: white; /* Color del texto */
  font-size: 1.5rem; /* Tamaño del texto */
  z-index: 10; /* Asegurar que estén por encima del contenido del carrusel */
  border: none; /* Eliminar borde predeterminado */
}

.carousel-control-prev {
  left: 0; /* Posicionar a la izquierda */
}

.carousel-control-next {
  right: 0; /* Posicionar a la derecha */
}

.carousel-control-prev:hover, .carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Cambio de color al pasar el mouse */
}

.carousel-control-prev:focus, .carousel-control-next:focus {
  outline: none; /* Eliminar el borde de enfoque predeterminado */
}

.overlay-carousel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Asegura que el carrusel esté encima */
}

/* Tamaño para dispositivos móviles */
@media (max-width: 576px) {
  .overlay-carousel {
    width: 300px; /* Tamaño para pantallas pequeñas */
  }
}

/* Tamaño para tablets (≥576px) */
@media (min-width: 577px) and (max-width: 768px) {
  .overlay-carousel {
    width: 400px; /* Tamaño para pantallas medianas */
  }
}

/* Tamaño para pantallas grandes (≥768px) */
@media (min-width: 769px) and (max-width: 992px) {
  .overlay-carousel {
    width: 400px; /* Tamaño para pantallas grandes */
  }
}

/* Tamaño para pantallas extra grandes (≥992px) */
@media (min-width: 993px) {
  .overlay-carousel {
    width: 400px; /* Tamaño para pantallas extra grandes */
  }
}

.carousel-control-prev,
.carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
  /* Ajusta el tamaño y la posición según sea necesario */
}

/* Asegura que las imágenes en el carrusel se ajusten correctamente */
.carousel-item img {
  width: 100%;
  height: auto; /* Mantiene la proporción de la imagen */
}
.top-50 {
  top: 46% !important;
}

.overlay-carousel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Asegura que el carrusel esté encima */
}

.zoomable {
  transition: transform 0.5s ease, transform-origin 0.5s ease;
  cursor: zoom-in; /* Cambia el cursor a una lupa */
}

/* Posición centrada de los botones del carrusel */
.carousel-control-prev,
.carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
}

/* Asegura que las imágenes en el carrusel se ajusten correctamente */
.carousel-item img {
  width: 100%;
  height: auto; /* Mantiene la proporción de la imagen */
}
