/* styles.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'montserrat', sans-serif;
    overflow-x: hidden;
}



.main-landing {
    background-image: url(../assets/img/27674432-866a-47ee-a950-e204380f7b8e\ \(1\).jpeg);
    height: auto;
    width: 100%;
    background-size: cover;
}

#main-landing video {
    max-width: 100%;
    height: auto;
}



.view{
    height: 30vh;
    align-content: center;
}


@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

#reviews img {
    margin-bottom: 15px;
}

#controlPanelCarousel .carousel-item img {
    max-height: 400px;
    object-fit: cover;
}

#cta-interactivo video {
    max-width: 100%;
    height: auto;
}

#pricing img {
    max-width: 100%;
    height: auto;
}
.text-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.text-container > div {
    flex: 1;
    padding: 0 10px;
}

.image-gallery {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.image-item {
    flex: 1;
    transition: flex 1.5s ease;
    padding: 5px;
}

.image-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 1.5s ease;
}



.image-item:hover {
    flex: 1.2;
}

.image-gallery:hover .image-item:hover img {
    transform: scale(1.1);
}

.accordion-body ul {
    text-align: left;
}

#reviews-desktop {
    background-color: #000; /* Fondo negro */
    padding: 50px 0; /* Espaciado */
  }
  
  #reviews-desktop .carousel-inner {
    text-align: center; /* Centrar el contenido */
  }
  
  #reviews-desktop .rounded-circle {
    width: 150px; /* Tamaño de la imagen del logo */
    height: 150px;
  }
  
  #reviews-desktop h4 {
    margin-top: 20px;
    font-size: 1.5rem;
  }
  
  #reviews-desktop .stars {
    margin-top: 10px;
    color: #FFD700; /* Color dorado para las estrellas */
  }
  
  #reviews-desktop .review-content {
    font-style: italic;
    margin: 20px 0;
  }
  

/* Estilos para la tarjeta de precios */
.custom-card {
    border: 2px solid #ff6f00; /* Bordes color naranja */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: transform 0.3s, box-shadow 0.3s;
}

.custom-card:hover {
    transform: scale(1.05); /* Ampliar la tarjeta al pasar el ratón */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombra más fuerte */
}


/* Estilos para el carrusel de precios en dispositivos móviles */

.carousel-item {
    flex: 1 0 100%; /* Hace que cada elemento ocupe el 100% del contenedor del carrusel */
    transition: transform 0.5s ease;
}

.card {
    margin: 0 auto;
    max-width: 90%; /* Ajusta el ancho máximo en móviles */
}

.carousel-control-prev,
.carousel-control-next {
    filter: invert(1);
}

/* Ajustes para el diseño del texto en el carrusel */
.carousel-item .card-header {
    font-size: 1.25rem;
}

.carousel-item .card-title {
    font-size: 1.25rem;
}

/* Alinear el texto a la izquierda en la tarjeta */
.card-list {
    text-align: left;
}

#pricing .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#pricing .card .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#pricing .card .btn {
    margin-top: auto;
}

@media (min-width: 768px) {
    #pricing .row > [class*='col-'] {
        display: flex;
    }
}

#reviews .container {
    max-width: 600px;
    margin: 0 auto;
}

.review-content {
    font-style: italic;
    margin-bottom: 10px;
}

.stars i {
    font-size: 1.5rem;
}

#cta {
    position: relative;
    overflow: hidden;
}


.cta-gif {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: -1;
}

.cta-box:hover .cta-gif {
    opacity: 1;
}

.cta-box:nth-of-type(1) .cta-gif {
    left: -20%;
}

.cta-box:nth-of-type(2) .cta-gif {
    left: 50%;
}

.cta-box:nth-of-type(3) .cta-gif {
    right: -20%;
}

.accordion-button {
    border: 1px solid #ffc107; /* Color del borde del botón */
    color: #000000; /* Color del texto del botón */
    background-color: #fff; /* Color de fondo del botón */
    transition: background-color 0.2s ease, color 0.2s ease;
}

.accordion-button:not(.collapsed) {
    color: #fff; /* Color del texto cuando está desplegado */
    background-color: #ffc107; /* Color de fondo cuando está desplegado */
}

.accordion-button:focus {
    box-shadow: none; /* Quitar el efecto de sombra al enfocar */
}

.accordion-button:hover {
    background-color: #e0a800; /* Color de fondo al hacer hover */
    color: #fff; /* Color del texto al hacer hover */
}

.footer-section{
    text-align: left;
}

/* Estilo predeterminado del botón */
.btn-custom {
    background-color: #ffc107; /* Color de fondo inicial */
    color: #000; /* Color del texto inicial */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Estado hover (cuando el cursor está sobre el botón) */
.btn-custom:hover {
    background-color: #e0a800; /* Color de fondo al hacer hover */
    color: #fff; /* Cambia el color del texto al hacer hover */
}

/* Estado active (cuando el botón está siendo presionado) */
.btn-custom:active {
    background-color: #d39e00; /* Color de fondo al presionar */
    transform: scale(0.98); /* Efecto de pulsación */
}

/* Estado focus (cuando el botón recibe foco, útil para accesibilidad) */
.btn-custom:focus {
    outline: 3px solid #ffdd57; /* Resaltar el botón con un borde */
}


/* Ajustes generales para tamaños de pantalla pequeños */
@media (max-width: 576px) {
    .fs-1 {
      font-size: 1.5rem !important; /* Ajustado para móviles */
    }
  
    .fs-2 {
      font-size: 1rem !important;
    }
  
    .fs-3 {
      font-size: 1rem !important;
    }
  
    .fs-4 {
      font-size: 1.125rem !important;
    }
  
    .fs-5 {
      font-size: 0.9rem !important;
    }
  }
  
  /* Ajustes para pantallas medianas (tablets) */
  @media (min-width: 577px) and (max-width: 768px) {
    .fs-1 {
      font-size: 2rem !important; /* Ajustado para tablets */
    }
  
    .fs-2 {
      font-size: 1.75rem !important;
    }
  
    .fs-3 {
      font-size: 1.5rem !important;
    }
  
    .fs-4 {
      font-size: 1.375rem !important;
    }
  
    .fs-5 {
      font-size: 1.25rem !important;
    }
  }
  
  /* Ajustes para pantallas grandes (desktop) */
  @media (min-width: 769px) {
    .fs-1 {
      font-size: calc(1.375rem + 1.5vw) !important; /* Manteniendo el cálculo para desktops */
    }
  
    .fs-2 {
      font-size: calc(1.325rem + 0.9vw) !important;
    }
  
    .fs-3 {
      font-size: calc(1.3rem + 0.6vw) !important;
    }
  
    .fs-4 {
      font-size: calc(1.275rem + 0.3vw) !important;
    }
  
    .fs-5 {
      font-size: 1.10rem !important;
    }
  }
  